<?xml version="1.0" standalone="yes"?>
<Navigation>
  <Item>
    <class />
    <url>Default.aspx</url>
    <title>This week</title>
  </Item>
  <Item>
    <title>CSS Themes</title>
  </Item>
  <Item>
    <url>ThemeWhite.aspx</url>
    <title>White Theme</title>
  </Item>
  <Item>
    <url>ThemeGreen.aspx</url>
    <title>Green Theme</title>
  </Item>
  <Item>
    <url>ThemeTraditional.aspx</url>
    <title>Traditional Theme</title>
  </Item>
  <Item>
    <url>ThemeTransparent.aspx</url>
    <title>Transparent Theme</title>
  </Item>
  <Item>
    <url>Theme8.aspx</url>
    <title>Windows 8 Theme</title>
  </Item>
  <Item>
    <title>Scheduler</title>
  </Item>
  <Item>
    <url>Month.aspx</url>
    <title>Monthly scheduler</title>
  </Item>
  <Item>
    <url>Week.aspx</url>
    <title>Weekly scheduler</title>
  </Item>
  <Item>
    <url>Day.aspx</url>
    <title>Daily scheduler</title>
  </Item>
  <Item>
    <url>FreeBusy.aspx</url>
    <title>Free/busy scheduler</title>
  </Item>
  <Item>
    <url>Timeline.aspx</url>
    <title>Timeline</title>
  </Item>
  <Item>
    <url>RowHeaderColumns.aspx</url>
    <title>Row header columns</title>
  </Item>
  <Item>
    <title>Gantt Chart</title>
  </Item>
  <Item>
    <url>Gantt.aspx</url>
    <title>Gantt</title>
  </Item>
  <Item>
    <url>GanttColumns.aspx</url>
    <title>Gantt  with Columns</title>
  </Item>
</Navigation>