<?xml version="1.0" standalone="yes"?>
<Navigation>
  <Item>
    <class />
    <url>Default.aspx</url>
    <title>This week</title>
  </Item>
  <Item>
    <title>CSS Themes</title>
  </Item>
  <Item>
    <url>ThemeWhite.aspx</url>
    <title>White Theme</title>
  </Item>
  <Item>
    <url>ThemeGreen.aspx</url>
    <title>Green Theme</title>
  </Item>
  <Item>
    <url>ThemeG.aspx</url>
    <title>Google-Like Theme</title>
  </Item>
  <Item>
    <url>ThemeTraditional.aspx</url>
    <title>Traditional Theme</title>
  </Item>
  <Item>
    <url>ThemeTransparent.aspx</url>
    <title>Transparent Theme</title>
  </Item>
  <Item>
    <title>Views</title>
  </Item>
  <Item>
    <url>DayView.aspx</url>
    <title>Day view</title>
  </Item>
  <Item>
    <url>WorkWeekView.aspx</url>
    <title>Work week view</title>
  </Item>
  <Item>
    <url>WeekView.aspx</url>
    <title>Week view</title>
  </Item>
  <Item>
    <url>Days.aspx</url>
    <title>Custom number of days</title>
  </Item>
  <Item>
    <title>Events</title>
  </Item>
  <Item>
    <class />
    <url>UpdatePanel.aspx</url>
    <title>ASP.NET AJAX (UpdatePanel)</title>
  </Item>
  <Item>
    <url>EventMoving.aspx</url>
    <title>Event moving</title>
  </Item>
  <Item>
    <url>EventResizing.aspx</url>
    <title>Event resizing</title>
  </Item>
  <Item>
    <title>Appearance</title>
  </Item>
  <Item>
    <url>TimeFormat.aspx</url>
    <title>Time format (12/24 hours)</title>
  </Item>
  <Item>
    <url>NonBusinessHours.aspx</url>
    <title>Non-business hours behavior</title>
  </Item>
  <Item>
    <url>HeaderDateFormat.aspx</url>
    <title>Header date format</title>
  </Item>
  <Item>
    <url>HourHeight.aspx</url>
    <title>Hour cell height</title>
  </Item>
  <Item>
    <title>Views</title>
  </Item>
  <Item>
    <class />
    <url>BindingXmlDataSource.aspx</url>
    <title>Binding to XmlDataSource</title>
  </Item>
  <Item>
    <url>BindingDataTable.aspx</url>
    <title>Binding to a DataTable</title>
  </Item>
  <Item>
    <url>BindingArrayList.aspx</url>
    <title>Binding to an ArrayList</title>
  </Item>
</Navigation>