<?xml version="1.0" standalone="yes"?>
<Navigation>
  <Item>
    <class></class>
    <url>/</url>
    <title>Home</title>
  </Item>
  <Item>
    <class></class>
    <url>/Calendar/</url>
    <title>Calendar</title>
    <thumb>calendar72x40.png</thumb>
  </Item>
  <Item>
    <url>/Scheduler/</url>
    <title>Scheduler</title>
    <thumb>scheduler76x40.png</thumb>
</Item>
</Navigation>